<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about page</title>
</head>
<body>
<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolore et ipsam itaque libero maiores nobis non, quas soluta. Alias, amet asperiores commodi consequuntur dicta, dignissimos earum expedita inventore ipsum molestias non perspiciatis porro reiciendis saepe, totam ullam vero. A ab ad laboriosam laborum neque officia sequi. Accusamus accusantium architecto atque culpa dolorem explicabo itaque iure pariatur quibusdam, quis quisquam, repellendus totam voluptate. Ipsum, qui?</h1>
{% extends 'base.html' %}
{% block content %}
<h1>About page</h1>
{% endblock content %}
</body>
</html>